body{
    background-color: hsl(222, 26%, 31%) ;
    font-family: 'Baloo Tammudu 2', cursive;
    font-size: 20px;
    text-transform: uppercase;

}

.wrapper{
    background-color: hsl(224, 36%, 15%);
    /* height: 700px; */
    margin-top: 15%;
    max-width: 400px;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 30px;
    
    

}

.display{
    
    background: white;
    border-radius: 10px;
    min-height: 70px;
    margin: 0;
    display: block;
    
    
}

.display div{
     
    min-height: 30px;
    margin: 5px;
    text-align: right;
}

.logo{
    color: cornsilk;
    margin: 5px;
}

button{
    background-color: hsl(222, 26%, 31%) ;
    width: 50px;
    height: 50px;
    border: 0;
    border-radius: 50%;
    outline:none; 
}
.calc-buttons button{
    outline:none;
}

.num-button{
    color: hsl(224, 36%, 15%);;
    background: cornsilk;
    
}

.result-button{
    width: 100%;
    border-radius: 5px;
    color: cornsilk;
    background: rgb(44, 172, 44);
    
}


.op-button, .dot-button{
    color: cornsilk;
    
}

.clear-button, .delete-button{
    background: rgb(210, 74, 74);
    color: cornsilk;
    
}




.calc-buttons{
    margin: 25px 0px 25px 0px;
}



